{% extends "base.html" %}
{% block title %}Sign Up | Secure Share{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="auth-card p-4">
      <h2 class="text-center mb-2" style="color:#60a5fa;">Create account</h2>
      <p class="text-center mb-4 small" style="color:#9ca3af;">
        End‑to‑end encrypted file sharing for you.
    </p>

      <form action="/signup" method="post">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" name="email" class="form-control" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Full name</label>
          <input type="text" name="name" class="form-control" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" name="password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-success w-100 mb-3">Sign up</button>
      </form>

      <p class="text-center small" style="color:#9ca3af">
        Already have an account? 
        <a href="/login" class="link-white"> Login
         </a> 
      </p>
    </div>
  </div>
</div>
{% endblock %}
